Chapter 06/6.20/SilverlightInAction/WcfOutApp/Service References/ServiceReference1/SomeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53821/SomeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFOutParam" />
  <xs:element name="GetSomeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSomeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSomeDataResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFOutParam" minOccurs="0" name="myError" nillable="true" type="q1:MyErrorObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>